body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(232, 236, 236);
  font-size: large;
}
.header {
  font-family: serif;
  color: rgb(245, 245, 6);
}

@media screen and (min-width: 80rem) {
}
